
:root{
--qb: #ff3131;
--rb: #7af8ff; 
--te: #1F51FF;
--wr: #39ff14;
--d:  #250096;
--k:  #d1fe49;
--oc: #a61e22;



}


.positionCircle{
    position: relative;
    font-size:12px; 
    border-width: 2px;
    border-style: solid;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin:0 auto;



}

.qb-color{
border-color: var(--qb);
box-shadow: 1px 1px 15px  var(--qb);
}

.rb-color{
    border-color: var(--rb);
box-shadow: 1px 1px 15px  var(--rb);
}

.te-color{
    border-color: var(--te);
    box-shadow: 1px 1px 15px  var(--te);

}

.wr-color{
    border-color: var(--wr);
    box-shadow: 1px 1px 15px  var(--wr);
}

.k-color{
    border-color: var(--k);
    box-shadow: 1px 1px 15px var(--k);
}

.d-color{
    border-color: var(--d);
    box-shadow: 1px 1px 15px var(--d);
}


.other-color{
    border-color: var(--oc);
    box-shadow: 1px 1px 15px var(--oc);
}