

svg,svg path{
    width: 100%;
    height: 100%;
}




.positionCircle{
    position: relative;
    font-size:12px; 
    border-width: 2px;
    border-style: solid;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin:0 auto;

}

.mobile{
    background-color: rgb(16, 17, 22);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;

}


