    table svg, svg path{
        width: 80px;
        height: 80px;
    }

    @media screen and (max-width: 640px) {
        table svg, svg path{
            width: 30px;
            height: 30px;
        }
      }
    

    

    
    
    

