    table svg, svg path{
        width: 50px;
        height: 50px;
    }
    




    @media screen and (max-width: 640px) {
        table svg, svg path{
            width: 30px;
            height: 30px;
        }
      }
    

    

    
    
    

