.main{
    margin-left: 256px;
    height: 100%;
}

.main-container{
    height: 100vh;
}


.homeImage{
    width: 100%;
    max-width: 100%;;
}


@media screen and (max-width: 1200px){
    .main{
        margin-left: 0;
    }



}