@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');





.btn-wildcat{
    background-color: rgb(102, 16, 242);   
}

.btn-chief{
    background-color: red;
}




body{
    font-family: 'Merriweather', serif;
}


.btn{
    box-shadow: none !important
}

