@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


*{
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}



::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(77, 38, 129,1);
    border-radius: 10px;
}

body{
    font-family: 'Merriweather', serif;
    background-color: rgb(3, 3, 3);
    overflow-y: scroll;
    overflow-x: hidden;
}
