@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


*{
    user-select: none;
    -webkit-user-select: none; /*Safari*/
    -moz-user-select: none; /*Firefox*/
}

.nav-item:nth-child(6){
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(77, 38, 129,1);
    border-radius: 10px;
}


body:not([class]){
    background-color: black;
    opacity: 1;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;


}


body.fadeout{
    background-color: black;
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: 1;
}



body{
    font-family: 'Merriweather', serif;

    overflow-y: scroll;
    overflow-x: hidden;
}

.neon{
    border: 2px solid purple;
}





img{
  opacity: 0;
}


@keyframes fadeout {

    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}

@keyframes fadein {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}









