:root{
--background: #010001;
--logo:white;
--sidebar_links: white;


}

body{background-color:var(--background) ;}

.background{background-color: var(--background);}
.logo{color: var(--logo);}
.sidebar_links{color: var(--sidebar_links)}



