
.navbar-top{
    overflow-y: hidden;
    height: 100%;
    min-height: 70px;
    box-shadow: 15px 0px 23px 0px rgb(102,16,242);
    animation-name: neon;
    animation-duration:16s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}









.hamburger{
    z-index: 100;
    position: fixed;
    left: 20px;
    top: 10px;
    transform: translate(-25%);
    width: 60px;
    height: 50px;
    cursor: pointer;
    z-index: 999;
}

.line{
    cursor: pointer;
    border-radius: 30px;
    width: 25px;
    height: 2px;
    background-color:white;
    transform: translate(-50%) rotate(0);
    transition: 0.2s ease-in-out;
}


.lineA{

    position: absolute;
    top: 36%;
    left: 50%;

}

.lineB{

    position: absolute;
    top: 50%;
    left: 50%;
    
}

.lineC{
    position: absolute;
    top: 66%;
    left: 50%;
}


.hamburger.clicked .lineA{

    background-color: rgb(102, 16, 242);
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
    left: 50%;

}

.hamburger.clicked .lineB{

    opacity: 0;
    left: 50%;
}


.hamburger.clicked .lineC{

    background-color: rgb(102, 16, 242);
    top: 50%;
    transform: translate(-50%) rotate(45deg);
    left: 50%;
}






@media screen and (max-width: 768px){
    .navbar-top{
        margin-left: 0;
    }



}

/*Neon keyframes in sidebar*/


