.reset-button{
    transition: 0.1s ease;
    width: 25px;
    height: 25px;
}

.nav-link{
    font-size: 1rem;
}


.sidebar{
    top:20px;
    left:20px;
    width: 256px;
    height: 96vh;
    z-index: 600;
    background-color: rgb(16, 17, 22);
    border-radius: 20px;
}








@media  screen and (max-width: 776px){
    .nav-link{
        font-size: 1.5rem;
    }

    .reset-button{

        width: 30px;
        height: 30px;
    }


    .sidebar{
        top: 0px;
        left:0px;
        width: 256px;
        height: 100vh;
        z-index: 600;
        background-color: rgb(16, 17, 22);
        border-radius: 0px;
    }
    

    
    






}


