:root{
    --wildcat: rgb(102,16,242);
    --chief: red;
    --shocker: yellow;
    --jayhawk: blue;
}

.sidebar-wildcat{
    
    top:0;
    left:0;
    width: 256px;
    height: 100vh;
    border-right: 1px solid rgba(96, 111, 140, 0.4);
    z-index: 600;
    box-shadow: 1px 1px 23px 0px var(--wildcat); 
    animation-name: neon;
    animation-duration:8s;
    animation-direction: alternate;
    animation-fill-mode:forwards;    
    animation-iteration-count: infinite;
}

.sidebar-chief{
    top:0;
    left:0;
    width: 256px;
    height: 100vh;
    border-right: 1px solid rgba(96, 111, 140, 0.4);
    z-index: 600;
    box-shadow: 1px 1px 23px 0px var(--chief); 
    animation-name: neon;
    animation-duration:2s;
    animation-fill-mode:both;
    animation-iteration-count: 1;
}


.sidebar-jayhawk{
    top:0;
    left:0;
    width: 256px;
    height: 100vh;
    border-right: 1px solid rgba(96, 111, 140, 0.4);
    z-index: 600;
    box-shadow: 1px 1px 23px 0px var(--jayhawk); 
    animation-name: neon;
    animation-duration:2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}


@keyframes neon {

    0%{
        box-shadow: 1px 1px 23px 0px transparent;
    }

    100%{
        box-shadow: 1px 1px 23px 0px inherit;
    }
    
}


