.reset-button{
    transition: 0.1s ease;
    width: 25px;
    height: 25px;
}

.nav-link{
    font-size: 1rem;
}


.sidebar{
    top:0;
    left:0;
    width: 256px;
    height: 100vh;
    z-index: 600;


}








@media  screen and (max-width: 776px){
    .nav-link{
        font-size: 1.5rem;
    }

    .reset-button{

        width: 30px;
        height: 30px;
    }
}


